html{
    background-color: #3D403D;
}
body{
    color: white
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


#maincontent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.desc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align:center;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
}

.optionbar{
    display: flexbox;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    color: lightblue;
}

.option:hover{
    color: red
}