html{
    background-color: #3D403D;
}
body{
    color: white
}


.inconsolata-ready2p {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


#maincontent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.desc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align:center;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
}

.optionbar{
    display: flexbox;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    color: lightblue;
}